* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: rgb(80, 80, 124);
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  .logos {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  .img {
    display: flex;
    justify-content: flex-start;
}

  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;

    }
    .button.secondary {
        border: 0;

    }
    .button a {
        padding: 7.5px 15px;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;
    }
    .button.secondary a:hover {
        text-decoration: none;
        transition:all .25s;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
  }

  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: wheat;
}
.container {
    display: flex ;
    height: 500px;
    width: 900px;
    border: 1px solid black;
    margin: auto;
    box-shadow: 15px 15px 20px black;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form h2 {

    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
  }

.side {

    display: flex;
    justify-content: flex-start;
    background-color: lightblue;
    align-items: center;
    width: 50%;

}

.side img {
    width: 450px;
    height: 300px;
}

img {
    display: flex;
    order: 2;
    align-items: center;

}
.study {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: lightblue;
}
